html, body
  height: 100%
  overflow: hidden


body
  min-width: 1024px
  font-family: 'Microsoft Sans Serif'
  background: rgba(255, 255, 255, .1)
  -webkit-user-select: none
  line-height: 1
  box-sizing: border-box
